<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/style.css>
<style>
h1 {
  color: BLUE;
  font-family :VERDANA;
  font-size: 500%;
}
p {
  color: red;
  font-family: courier;
  font-size: 280%;
}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>